/* your custom css */
.homeContainer .homeWrapper {
    color: white;
}


.logo {
    position: relative;
    display: inline-block;
}

.logo:before {
    background: red;
    width: 30px;
    height: 30px;
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
}


.window-container:before {
    background: red;
    width: 250px;
    height: 250px;
    position: absolute;
    content: " ";
    bottom: 11%;
    left: calc(50% - 140px);
    background: url('../img/grain.png');
    background-position: center center;
    background-size: cover;
    opacity: 0.3;
}

.homeContainer {
    background:#F0EDED;
    box-shadow: inset  0 -10px 10px -10px rgba(189, 189, 189, 0.2);
}

.nav-footer {
    box-shadow: inset  0  10px 10px -10px rgba(0,0,0,0.5);
}

.projectTitle {
    color: #24292e;
    font-size: 50px;
    line-height: 50px;
}

.projectTitleWrapper {
    position: relative;
}

.projectTitle img {
    height: 50px;
}

.promoSection .pluginWrapper:first-child a {
    background: #F0C926;
    color: white;
}

.productShowcaseSection {
    background: #20232a;
    color: white;
}

.productShowcaseSection > h2 {
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0px;
}

.productShowcaseSection > .logos {
    background: white;
    position: relative;
    width: calc(100% + 40px);
    left: -20px;
}

.navigationSlider .slidingNav ul li a {
    color: white;
    font-weight: 600;
}

.fixedHeaderContainer header .headerTitleWithLogo {
    font-size: 20px;
}

.window-container {
    position: relative;
    border: 1px solid #bbb;
    border-radius: 7px;
    box-shadow: 0 0px 50px 0px rgba(0, 0, 0, 0.46);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #F0EDED;
}

.window-container span {
    color: rgba(255, 255, 255, 0.3);
    padding-right: 10px;
}

.window-container span.comment {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

.window-controls {
  display: flex;
  padding: 5px;
  background: linear-gradient(rgb(226, 224, 226), rgb(199, 198, 200));
  min-height: 21px;
  height: 21px;
}

.window-controls-btn {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.close-btn {
  background: rgb(227, 69, 69);
}

.minimize-btn {
  background: rgb(224, 178, 40);
}

.expand-btn {
  background: rgb(0, 216, 67);
}

.window-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 95%;
  background: rgba(50, 50, 50, 0.92);
  overflow-y: scroll;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}

.window-content span {
    display: inline;
}

.line {
  color: #fff;
  margin: 0;
  padding: 3px 5px;
}

.headerTitleWithLogo:after {
    content: 'pre-alpha';
    opacity: 0.9;
    color: rgba(255, 255, 255, 0.9);
    background: #B354AB;
    padding: 5px 8px 6px 8px;
    border-radius: 5px;
    font-size: 10px;
    position: relative;
    left: 10px;
    top: -1px;
}

.headerTitleWithLogo {
    display: block !important;
}

.tocToggler {
    display: none;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
    .window-container {
        max-width: 100%;
        height: 340px;
    }
}

@media only screen and (min-width: 1024px) {
    .homeContainer .homeWrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .window-container {
        width: 700px;
        height: 340px;
    }
}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (min-width: 1400px) {
}